In [1]:
import pandas as pd

company = pd.read_csv("layoffs.csv")

company

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised
0,Edgio,Phoenix,Infrastructure,NaN,1.00,2024-09-09,Post-IPO,United States,529.0
1,InsurStaq.ai,New Delhi,AI,NaN,1.00,2024-09-09,Seed,India,NaN
2,Nori,Seattle,Energy,NaN,1.00,2024-09-09,Unknown,United States,19.0
3,WeTransfer,Amsterdam,Other,260.0,0.75,2024-09-08,Acquired,Netherlands,64.0
4,Goop,Los Angeles,Retail,39.0,0.18,2024-09-06,Unknown,United States,75.0
...,...,...,...,...,...,...,...,...,...
3782,Service,Los Angeles,Travel,NaN,1.00,2020-03-16,Seed,United States,5.1
3783,HopSkipDrive,Los Angeles,Transportation,8.0,0.10,2020-03-13,Unknown,United States,45.0
3784,Panda Squad,SF Bay Area,Consumer,6.0,0.75,2020-03-13,Seed,United States,1.0
3785,Tamara Mellon,Los Angeles,Retail,20.0,0.40,2020-03-12,Series C,United States,90.0
3786,EasyPost,Salt Lake City,Logistics,75.0,NaN,2020-03-11,Series A,United States,12.0